<a href="https://colab.research.google.com/github/AbhiBee27/gc-composition-analyzer/blob/main/day_1/day_1_python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics for Machine Learning, PESU-IO  
# Course Instructor: Gagan P  

Welcome!  
This notebook will help you refresh Python basics step by step.  

üëâ **How to use Jupyter Notebook:**  
Jupyter Notebook is an interactive coding environment where you can write and run Python code in separate blocks called **cells**.  
- **Run a cell:** Click inside a cell and press **Shift + Enter** (or use the ‚ñ∂Ô∏è Run button on the toolbar).  
- **Add a cell:** Use the **+** button or press **B** (below) / **A** (above) in command mode.  
- **Edit vs. Command Mode:** Press **Enter** to edit a cell, press **Esc** to switch to command mode for shortcuts.  
- You can mix **Markdown cells** (for text/explanations) and **Code cells** (for Python code).  

Follow along, run each cell, and try the examples yourself!

## 1. Variables & Data Types
Variables store data. Python infers the type automatically.

Common types:
- `int` : whole numbers
- `float` : decimals
- `str` : text
- `bool`: True/False

In [1]:
x = 10
pi = 3.14
name = "Machine Learning"
is_fun = True

print(x, type(x))
print(pi, type(pi))
print(name, type(name))
print(is_fun, type(is_fun))

10 <class 'int'>
3.14 <class 'float'>
Machine Learning <class 'str'>
True <class 'bool'>

### üîπ Predict the Output
-First Try to answer it and Then run the code  
-What will be printed if we run:
```python
value = 7.0
print(type(value))

### Run this after you answer

In [2]:
value = 7.0
print(type(value))

<class 'float'>


---

# 2. Basic Operations


### Basic Math
Python supports all arithmetic operators: `+ - * / // % **`.
- `/` : normal division (float)
- `//` : integer division(5//2 =2, as 2.5 is rounded off to 2 )
- `%` : remainder
- `**` : power

In [3]:
a, b = 5, 2
print(a + b, a - b, a * b, a / b, a // b, a % b, a ** b)

7 3 10 2.5 2 1 25

üí° Try: Change `a` and `b` to 7 and 3. Predict the results first.

## 3. Strings
Strings are text data. They support:
- methods (`upper()`, `replace()`)
- slicing (`text[start:end]`)
- f-strings for formatting

In [4]:
s = "hello world"
print(s.upper())
print(s.replace("world","ML"))
print(s[0:5])   #prints first 5 letters
name = "Alice"
print("Hello " , name)

HELLO WORLD
hello ML
hello
Hello  Alice

Replace `____` to print only `world` from the string "hello world".  
Run the code by writing it out in a new cell  
Hint: `s[0:5]` prints the first 5 letters, now give the index from the first letter starting from `0`, i.e the index of `h` is `0`
```
s = "hello world"
print(s[____])

### answer:
since the index of `w` is `6` `print(s[6:])` will print `"world"`


---

### 4. Collections (Lists, Tuples, Sets, Dict)


- **List** : ordered, mutable
- **Tuple** : ordered, immutable
- **Set** : unordered, unique
- **Dictionary** : key-value pairs

In [ ]:
nums = [1, 2, 3]
# lists should always contain homogeneous data, only int, only float, only strings, etc.

nums.append(4)          # .append() will add a new element to the list
print("List:", nums)
nums[0]=100             # changes the first element from 1 to 100
print("List:", nums)


coords = (10, 20)                       # tuples are just like list but the existing elements cannot be deleted or updated, it is immutable meaning it cannot be changed
print("Tuple:", coords)

unique = {1, 2, 2, 3}                     # a set always contains unique elements, here even though 2 is repeated, the final set has only one 2
print("Set:", unique)

student = {"name":"Bob", "age":20}        # holds data in key:value format
print("Dictionary:", student)

List: [1, 2, 3, 4]
List: [100, 2, 3, 4]
Tuple: (10, 20)
Set: {1, 2, 3}
Dictionary: {'name': 'Bob', 'age': 20}

## 5. Conditionals
Use `if`, `elif`, `else` to control flow.

In [ ]:
x = 7
if x > 10:
    print("x is big")
elif x == 7:
    print("x is seven")
else:
    print("x is small")

x is seven

## 6. Loops
Repeat actions using:
- `for` loop: iterate over a range or collection
- `while` loop: run until condition is False
- List comprehension for concise creation

In [ ]:
for i in range(3):
    print("for loop:", i)

i = 0
while i < 2:
    print("while loop:", i)
    i += 1

squares = [i**2 for i in range(5)]
print("Squares:", squares)

for loop: 0
for loop: 1
for loop: 2
while loop: 0
while loop: 1
Squares: [0, 1, 4, 9, 16]

## 7. Functions
Reusable blocks of code defined with `def`.
You can set default parameters and return values.

In [ ]:
def greet(name="Student"):
    return f"Hello, {name}!"
print(greet())
print(greet("Gagan"))


def add(a, b):
  return a+b
print(add(1,2))

Hello, Student!
Hello, Gagan!
3

üìù Write a function `multiply(a,b)` that returns a*b.

In [9]:
# write your code here
def multiply(a,b):
  a,b = input(a,b);
  return a*b;

In [14]:
a = int(input("enter a: "));
b = int(input("enter b: "))
multiply = a*b;
print(a,"*",b,"is",multiply)

enter a: 3
enter b: 6
3 * 6 is 18